<h1>Contactez-nous</h1>
<div class="container">
  <form (submit)="addMessage()" class="form">
      <p>{{message}}</p>
      <label class="textField">
        <span class="nameRequest">Nom: </span>
        <input type="text" name="name" class="field" [(ngModel)]="contact.name" placeholder="Votre nom: ">
      </label>
      <label class="textField">
        <span class="nameRequest">Email: </span>
        <input type="email" name="email" class="field" [(ngModel)]="contact.email" placeholder="Votre email:">
      </label>
      <label class="textField">
        <span class="nameRequest">Votre question/Demande: </span>
        <textarea name="question" class="field" [(ngModel)]="contact.question" placeholder="Votre question ou demande: " cols="30" rows="10"></textarea>
      </label>
      <input type="submit" value="Envoyer" class="btn">
  </form>
</div>