<div class="containerMessage">
    <p>{{great}}</p>
    <div class="check">
        <span class="user">Message de : {{message.name}}</span>
        <label>
            <span>lu:</span>
            <input type="checkbox" [checked]="message.read" (change)="messageChecked($event)">
        </label>
    </div>
    <span class="email">email: {{message.email}}</span>
    <p class="question">{{message.question}}</p>
</div>
