.containerMessage {
    margin: auto;
    width: 75%;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
    border-radius: 4px;
    padding: 25px;
    font-family: roboto;
    .check {
        display: flex;
        justify-content: space-between;
        .user {
            font-weight: 700;
        }
    }
    .email {
        font-weight: 700;
    }
    .question {
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 4px;
        padding: 10px;
    }
}