<h1>Login</h1>
<div class="container">
  <form (submit)="login()" class="form">
    <p>{{error}}</p>
    <label class="textField">
      <span class="nameRequest">Pseudo: </span>
      <input type="text" name="pseudo" class="field" placeholder="pseudo" [(ngModel)]="user.pseudo">
    </label>
    <label class="textField">
      <span class="nameRequest">Password: </span>
      <input type="password" name="password" class="field" placeholder="password" [(ngModel)]="user.password">
    </label>
    <input type="submit" value="Connection" class="btn">
  </form>
</div>