/* You can add global styles to this file, and also import other style files */
h1 {
    font-family: roboto;
    font-weight: 400;
    text-align: center;
    color: #a9a9a9;
}
.container {
    font-family: roboto;
    .form {
        margin: auto;
        width: 66%;
        border: 1px solid rgba(0, 0, 0, .1);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, .3);
        border-radius: 4px;
        padding: 25px;
        .textField {
            display: flex;
            flex-direction: column;
            .nameRequest {
                float: left;
            }
            .field {
                box-sizing: border-box;
                border-radius: 4px;
                margin: 10px;
                padding: 10px 15px;
                border: none;
                background: rgba(0, 0, 0, .1);

            }
        }
        .btn {
            margin-top: 10px;
            font-family: roboto;
            background: rgba(0, 0, 0, .1);
            border-radius: 6px;
            padding: 10px 20px;
            border: none;
        }
    }
}
